body {
	font-family: "Josefin Sans", "futura-pt", sans-serif;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	font-size: 1em;
	line-height: 1.2;
	font-weight: 300;
	margin: 0;
}

.head {
	width: 100%;
	max-width: 1600px;
	padding: 1rem 0;
	margin-left: auto;
	margin-right: auto;
}

.navBar {
	display: flex;
	flex-flow: row;
	width: 85%;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: .5rem;
}

.name {
	font-size: 2em;
	margin: auto .5rem;
	width: 85%;
	font-weight: 500;
}

.mark {
	width: 70%;
	display: flex;
	flex-flow: row;
}

.mark > div > a {
	text-decoration: none;
	color: #000;
}

.mainNav {
	list-style-type: none;
	font-weight: 500;
	font-size: 1.2em;
	display: flex;
	flex-flow: row;
	width: 40%;
	justify-content: space-between;
}

.mainNav > li {
	position: relative;
}

.inactive::after {
	content: "";
    display: block;
    height: 0.1em;
    position: absolute;
    top: 100%;
    width: 102%;
    left: 51%;
	transform: translate(-50%);
    background-image: linear-gradient(to right, transparent 50.3%, #3aafa9 50.3%);
    transition: background-position .2s .1s ease-out;
    background-size: 200% auto;
}

.inactive:hover::after {
	background-position: -100% 0;
}

.selected {
	color: #000;
}

.selected:hover {
	color:  #000;
}

.selected::after {

	content: "";
    display: block;
    height: 0.1em;
    position: absolute;
    top: 100%;
    width: 102%;
    left: 51%;
	transform: translate(-50%);
    background-image: linear-gradient(to right, transparent 50.3%, #000 50.3%);
    background-position: -100% 0;
    background-size: 200% auto;
}

a {
	text-decoration: underline;
	color: #737373;
}

.navBar a {
	text-decoration: none;
}

a:hover {
	color: #3aafa9;
}

hr {
	width: 85%;
	max-width: 1600px;
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #3aafa9;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;

}

.logo > a > img {
	width: 64px;
}

.sliderImage {
	width: 85%;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.work {
	width: 100%;
	max-width: 1600px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 1rem;
	padding-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.work > p {
	text-align: center;
}

.projectLink {
	overflow: hidden;
	width: 33.33%;
	height: 33.33%;
}

.project {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.project > img {
	width: 100%;
	height: auto;
	opacity: 1;
} 

.description {
	padding: 0;
	margin: 0 auto;
	font-weight: 500;
	line-height: 1.3;
	width: 100%;
	text-align: center;
	color: #000;
	z-index: 2;
}

.description > p {
	padding: 0 .5rem;
	margin: 0 auto;
}

.type {
	font-family: "proxima-nova", sans-serif;
	font-style: italic;
}

.projectDesc {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	background: 0 0;
	transition: .3s ease background-color;
}

.projectDesc:hover {
	background-color: rgba(255, 255, 255, .8);
	cursor: pointer;
}

.descWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 0;
	transition: .3s ease opacity;
	background: 0 0;
}

.descWrapper:hover {
	opacity: 1;
}

.foot {
	width:  85%;
	max-width: 1600px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
	font-weight: 500;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}


.foot > p {
	margin: 0;
	color: #737373;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.foot > p > a {
	text-decoration: none;
	color: #737373;
}

.foot > p > a:hover {
	color: #3aafa9;
}

/** PROJECT PAGES **/

.projectPage {
	width: 85%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5rem 0;
}

h1 {
	margin: 0 auto;
	font-size: 1.5em;
}

h2 {
	margin: 0 auto;
	font-family: "Josefin Sans", "futura-pt", sans-serif;
	font-weight: 300;
	font-size: 1.3em;
	color: #3aafa9;
}

.projectBody {
	width: 100%;
	font-family: "proxima-nova", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.projectBody > p {
	padding-top: 1rem;
	margin: 0;
}

.projectBody > img {
	width: 100%;
	height: auto;
	padding-top: 1rem;
}

.projectDetails {
	width: 100%;
	max-width: 700px;
}

.projectImages {
	width: 100%;
}

.projectImages > img {
	width: 100%;
	padding-top: 1rem;
}

.projectImages > p {
	padding-top: 1rem;
	margin: 0 auto;
}

.sideBySide {
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
	justify-content: space-between;
}

.sideBySide > img {
	width: 49%;
	height: 100%;
}

.verticalLine {
	margin-left: 1rem;
	margin-right: 1rem;
	border-left: 2px solid #3aafa9;
}

.project-column {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	justify-content: space-between;
	width: 100%;
}

.project-column-mobile {
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	justify-content: space-between;
	width: 100%;
}

.column-is-half {
	width: 48%;
}

.column-is-2 {
	width: 18%;
}

.column-is-8 {
	width: 78%;
}

.column-is-8 p {
	margin-top: 0;
} 

.column-is-half img, .column-is-2 img, .column-is-8 img {
	width: 100%;
	height: auto;
} 

.subtitle {
	margin-bottom: .75rem;
}

.list-element {
	margin-bottom: .75rem;
}

.ux-process {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 2rem;
}

.process-element {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 30%;
}

.element-description {
	margin-bottom: .75rem;
}

.mobile-set-image-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 2rem;
}

.mobile-set-image {
	width: 30%;
}

.mobile-set-image img {
	width: 100%;
	height: auto;
}

.caption {
	font-size: .75rem;
}

.txt-center {
	text-align: center;
}

.mt-add-2 {
	margin-top: 2rem;
}

.mobile-set-image-prototype {
	margin-top: 1rem;
}

.full-width-image-wrapper {
	margin-top: 2rem;
	width: 100%;
}

.full-width-image-wrapper img {
	width: 100%;
	height: auto;
}


/** RESPONSIVE STUFFS **/


@media only screen and (max-width: 850px) {
	h1 {
		padding-bottom: .75rem;
	}
	.mark {
		width: auto;
	}

	.mainNav {
		width: auto;
		flex-direction: column;
		margin: 0;
	}

	.mainNav > li {
		text-align: right;
		padding: .75rem;
	}

	.mainNav > li > a {
		position: relative;
	}

	.work {
		padding: 1rem 0 0;
	}

	.projectLink {
		width: 50%;
		height: 50%;
	}

	.name {
		font-size: 1.5em;
	}

	.logo > a > img {
		width: 40px;
	}

	.sideBySide {
		flex-direction: column;
		padding-bottom: 0;
	}

	.sideBySide > img {
		width: 100%;
		padding-bottom: 1rem;
	}

	.projectDetails > p {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 1rem;
	}

	.foot {
		width: 85%;
		margin-left: auto;
		margin-right: auto;

	}

	.foot > p {
		flex-direction: row;
		text-align: center;
		width: 85%;
	}

	.foot > p > a {
		width: 100%;
		padding: .5rem;
	}
	.column-is-2 {
		width: 28%;
	}
	
	.column-is-8 {
		width: 68%;
	}
	.project-column-mobile {
		margin-top: 0;
	}
}

@media only screen and (max-width: 540px) {
	.head {
		padding-top: 1rem;
	}

	.navBar {
		flex-direction: column;
		padding-bottom: 0;
	}

	.mainNav {
		margin: 0 auto;
		padding: 1rem 0 0;
		flex-direction: row;
		width: 100%;
	}

	.mainNav > li {
		text-align: center;
	}
	.column-is-half {
		width: 100%;
		margin-bottom: .75rem;
	}

	.project-column {
		flex-direction: column;
		width: 100%;
	}
	.ux-process {
		flex-direction: column;
	}
	.process-element {
		width: 100%;
	}
	.column-is-2 {
		width: 48%;
	}
	
	.column-is-8 {
		width: 48%;
	}
}

@media only screen and (max-width: 450px) {
	.projectLink {
		width: 100%;
		height: 100%;
	}

	.project-column-mobile {
		flex-direction: column;
	}

	.column-is-2 {
		width: 100%;
	}
	.column-is-8 {
		width: 100%;
	}
	.column-is-8 p {
		margin-top: 1rem;
	}
}

@media only screen and (max-width: 350px) {
	.mark {
		width: 100%;
		justify-content: space-around;
	}
	.name {
		font-size: 1.3em;
		width: auto;
	}

	.mainNav {
		font-size: 1em;
	}
	
	.mainNav > li {
		padding-top: 1rem;
	}

	.projectPage {
		padding: 1.5rem 0;
	}

	.foot {
		font-size: 1em;
		padding: 1.5rem 0;
	}

}



